@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Inter, Helvetica, sans-serif;
  box-sizing: border-box;
}

.ql-editor {
  font-family: Inter !important;
  padding-left: 0 !important;
}

.ql-editor p {
  padding-left: 10px !important;
  font-size: 16px !important;
}

.ql-editor::before {
  font-size: 16px !important;
  color: #aeadad !important; /* Optional: Customize placeholder color */
}

.ql-container {
  min-height: 170px !important;
}

.td-class {
  @apply px-4 py-4 bg-[#2323238A] first:rounded-tl-lg first:rounded-bl-lg last:rounded-tr-lg last:rounded-br-lg overflow-hidden whitespace-nowrap;
}

.th-class {
  @apply px-4 py-4  first:rounded-tl-lg first:rounded-bl-lg last:rounded-tr-lg last:rounded-br-lg;
}

/* width and height of the scrollbar */
::-webkit-scrollbar {
  width: 6px; /* for vertical scrollbar */
  height: 6px; /* for horizontal scrollbar */
}

/* background of the scrollbar track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* scrollbar handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px; /* rounded corners */
}

/* scrollbar handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


