@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Inter, Helvetica, sans-serif;
  box-sizing: border-box;
}

.ql-editor {
  font-family: Inter !important;
  padding-left: 0 !important;
}

.ql-editor p {
  padding-left: 10px !important;
  font-size: 16px !important;
}

.ql-editor::before {
  font-size: 16px !important;
  color: #aeadad !important; /* Optional: Customize placeholder color */
}

.ql-container {
  min-height: 170px !important;
}

.td-class {
  @apply px-4 py-4 bg-[#2323238A] first:rounded-tl-lg first:rounded-bl-lg last:rounded-tr-lg last:rounded-br-lg overflow-hidden whitespace-nowrap;
}

.th-class {
  @apply px-4 py-4  first:rounded-tl-lg first:rounded-bl-lg last:rounded-tr-lg last:rounded-br-lg;
}

/* width and height of the scrollbar */
::-webkit-scrollbar {
  width: 6px; /* for vertical scrollbar */
  height: 6px; /* for horizontal scrollbar */
}

/* background of the scrollbar track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* scrollbar handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px; /* rounded corners */
}

/* scrollbar handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Container for the loader dots */
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px; /* Spacing between dots */
}

/* Keyframes for the loading animation */
@keyframes loadingAnimation {
  0% {
    transform: scale(0.6);
    opacity: 0.5;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.6);
    opacity: 0.5;
  }
}

/* Common styles for all dots */
.loading-dot {
  display: inline-block;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.838);
  animation: loadingAnimation 1.5s infinite ease-in-out;
}

.loading-sm-dot {
  width: 8px;
  height: 8px;
}

.delay-1 {
  animation-delay: 0.2s;
}
.delay-2 {
  animation-delay: 0.4s;
}

.delay-3 {
  animation-delay: 0.6s;
}
